:root {
    --body-text: black;
    --body-background: white;

    --h1-text: black;
    --h1-background: rgb(119, 119, 119);

    --h2-text: black;
    --h2-background: rgb(182, 182, 182);

    --primary-background-dark: rgb(199, 80, 0);

    --primary-text: black;
    --primary-background: rgb(255, 102, 0);

    --primary-background-highlight: rgb(255, 145, 71);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-text: white;
        --body-background: black;
    
        --h1-text: black;
        --h1-background: rgb(58, 58, 58);
    
        --h2-text: black;
        --h2-background: rgb(105, 105, 105);
    
        --primary-background-dark: rgb(97, 39, 0);
    
        --primary-text: black;
        --primary-background: rgb(255, 102, 0);
    
        --primary-background-highlight: rgb(201, 80, 0);
    }
}

html {
    background-color: var(--body-background);
    color: var(--body-text);
}

body {
    max-width: 1024px;
    margin: auto;
    padding: 1em;
}

h1 {
    background-color: var(--primary-background);
    color: var(--h1-text);
    padding: 0.2em;
    margin: 0;
}

h2 {
    background-color: var(--h2-background);
    color: var(--h2-text);
    padding: 0.2em;
    margin: 0;
}

.recents h2 {
    grid-column: 1 / -1;
    margin-bottom: 0.em;
}

.recents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.recents a {
    text-decoration: none;
    border-radius: 0.2em;
    width: 100%;
    height: 100%;
    padding: 0.2em;
    box-sizing: border-box;
    color: var(--primary-text);
    background-color: var(--primary-background-highlight);
}

.recents a:hover {
    background-color:var(--primary-background);
}

.recents h3 {
    margin: 0;
}

.recents img {
    max-width: 100%;
}